@keyframes ssc-loading {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

.loading {
  position: relative;
  overflow: hidden;
}

.loading:after {
  content: "";
  animation: ssc-loading 1.3s infinite;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(-100%);
  z-index: 1;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
}

.loading {
  display: block;
  background-color: rgba(0, 0, 0, 0.17);
}
